body {
  width: 75%;
  margin: 0 auto;
}

#title-subtitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d3d3d3;
}

#image {
  max-width: 100%;
  display: block;
  margin: auto;
  width: 60%;
}

#img-caption {
  text-align: center;
  padding: 1rem;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
